* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

/* Header */
header {
    background: rgb(9, 3, 38);
    background: linear-gradient(90deg, rgba(9, 3, 38, 1) 0%, rgba(5, 51, 77, 1) 100%);
    font-size: 1.5rem;
    position: relative;
}

ul {
    padding-left: 0;
}

.empty {
    position: absolute;
    height: 150%;
    width: 20px;
    top: -10px;
    background: white;
    left: 65%;
    transform: rotate(25deg);
}

.icons {
    list-style: none;
    display: flex;
}

.icons li {
    margin-top: 10px;
    padding: 5px 15px;

}


.text_right {
    text-align: right;
}

.links {
    display: inline-flex;
}

.links li {
    list-style: none;
    padding-top: 15px;

}

.links li a {
    text-decoration: none;
}

/* SECTION */

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo a img {
    width: 100%;

}

#section {
    padding: 30px 0px;
}

#section .section_content {
    display: flex;
    align-items: center;
}

#section .section_content .left {
    display: flex;
    align-items: center;
    height: 100%;
}

#section .section_content .left i {
    color: #172e5e;
    font-size: 33px;
}

#section .section_content .right {
    padding-left: 20px;
}

#section .section_content .right ul {
    list-style: none;

}

#section .section_content .right ul li {
    font-size: 14px;
}

#section .section_content .right ul li h5 {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 2px;
}

#section .section_content .right ul li a {
    text-decoration: none;
    color: #212529;
}

#section .section_content .right ul li a:hover {
    color: rgb(39, 39, 247);

}

/* NAVIGATION BAR */

.nav_bar ul {
    list-style: none;
}

.nav_bar li a {
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 0;
    padding: 18px 20px !important;
    text-align: center;
    font-size: 14px;
    color: black;
}

.nav_bar li a:hover {
    color: rgb(39, 39, 247);
}

.other a {
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 0;
    padding: 18px 20px;
    text-align: center;
    font-size: 14px;
}


.active {
    background: #192546;
    color: #fff !important;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
}

.active:hover {
    background: rgba(26, 26, 112, 0.781);
}

/* Banner Part */

.banner .owl_carousel .item {
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    img{
        width: 100%;
    }
}

#banner_bottom{
    padding-top: 50px;

    .banner_bottom_container{
        padding: 50px 30px;
        background: #07294d;
        border-radius: 6px;
    }

    .banner_bottom_content h2{
        color: #fff;
        font-weight: 700;
        font-size: 21px;
        text-transform: uppercase;
        word-spacing: 2px;
    }

    .banner_bottom_content p{
        color: #fff;
        font-size: 15px;
        margin-top: 14px;
    }

    .owl-stage{
        transform: translate3d(-820px, 0px, 0px);
        transition: all 1s ease 0s;
        width: 1640px;
    }

    .owl-item{
        width: 205px;
    }
    
    .banner_bottom_content_slide_item1{
        background:#212F3C;
    }

    .banner_bottom_content_slide_item2{
        background: #1C2833;
    }
    .banner_bottom_content_slide_item3{
        background: #2E4053;
    }

    .banner_bottom_content_slide_item4{
        background: #273746;
    }
    
    .banner_bottom_content_slide_item{
        padding: 29px 36px;
        text-align: center;
    }

    .banner_bottom_content_slide_item span{
        color: #fff;
        font-size: 72px;
    }

    .banner_bottom_content_slide_item h4{
        font-size: 20px;
        font-weight: 700;
        color: #fff;
    }
}
